h1 {
    margin: 0;
    font-size: 2em;
    color: chartreuse;
    background-color: blue;
}   

h2 {
    margin: 30;
    font-size: 1.5em;
    color: rgb(0, 153, 255);
    background-color: purple;
}